<h2>Пользователь: <%= @user.email %></h2>

<p><%= link_to 'Редактировать данные пользователя', edit_user_path(@user) %></p>
<p><%= link_to 'Удалить пользователя', user_path(@user), method: :delete, data: { confirm: 'Вы уверены?' }  %></p>
