<table class="table table-bordered">
  <caption>Список всех карточек</caption>
    <thead>
      <tr>
        <td>Номер карточки</td>
        <td>Оригинальный текст</td>
        <td>Посмотреть перевод</td>
        <td>Дата последнего просмотра карточки</td>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.id %></td>
          <td><%= card.original_text %></td>
          <td><%= link_to 'Посмотреть перевод', card_path(card) %></td>
          <td><%= card.review_date.strftime("%d/%m/%Y") if card.review_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
